{% extends "base.html" %}
{% load static %}
{% block content %}
    

    <main class="main category-page">
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">White Gold Ring</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Shop /</span><span>White Gold Ring</span>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                <div class="product-details-wrap">
                    <div class="row">
                        
                        <!-- <div class="product-images">
                            <div class="product-thumb">
                                <a class="fancybox" href="{% static 'assets/img/products/large-product.jpg' %}">
                                    <img src="{% static 'assets/img/products/large-product.jpg' %}" alt="Main product">
                                </a>
                            </div>
                            <div class="gallery-images-wrap">
                                <ul class="gallery-images owl-carousel">
                                    <li class="gallery-image">
                                        <a class="fancybox" rel="group" href="{% static 'assets/img/flickr/flickr-2.jpg' %}">
                                            <img src="{% static 'assets/img/flickr/flickr-2.jpg' %}" alt="Gallery">
                                        </a>
                                    </li>
                                    <li class="gallery-image">
                                        <a class="fancybox" rel="group" href="{% static 'assets/img/flickr/flickr-1.jpg' %}">
                                            <img src="{% static 'assets/img/flickr/flickr-1.jpg' %}" alt="Gallery">
                                        </a>
                                    </li>
                                    <li class="gallery-image">
                                        <a class="fancybox" rel="group" href="{% static 'assets/img/flickr/flickr-3.jpg' %}">
                                            <img src="{% static 'assets/img/flickr/flickr-3.jpg' %}" alt="Gallery">
                                        </a>
                                    </li>
                                    <li class="gallery-image">
                                        <a class="fancybox" rel="group" href="{% static 'assets/img/flickr/flickr-4.jpg' %}">
                                            <img src="{% static 'assets/img/flickr/flickr-4.jpg' %}" alt="Gallery">
                                        </a>
                                    </li>
                                    <li class="gallery-image">
                                        <a class="fancybox" rel="group" href="{% static 'assets/img/flickr/flickr-5.jpg' %}">
                                            <img src="{% static 'assets/img/flickr/flickr-5.jpg' %}" alt="Gallery">
                                        </a>
                                    </li>
                                    <li class="gallery-image">
                                        <a class="fancybox" rel="group" href="{% static 'assets/img/flickr/flickr-6.jpg' %}">
                                            <img src="{% static 'assets/img/flickr/flickr-6.jpg' %}" alt="Gallery">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        
                        <!-- <div class="product-meta-wrap">
                            <h1 class="pd-title">White Gold Ring</h1>
                            <div class="pd-review">
                                <div class="pd-rate">
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                </div>
                                <div class="pd-comment">
                                    <span>4</span>
                                    <span>Review(s)</span>
                                </div>
                                <span><a href="{% static 'product-details.html' %}">Add your review</a></span>
                                <ul class="pd-pros">
                                    <li>Lightning-fast turnaround times, including one-day production</li>
                                    <li>Multiple premium paper stocks and folding options</li>
                                    <li>Brochure direct mailing services available</li>
                                </ul>
                            </div>
                            <div class="product-meta">
                                <span class="pd-price">$25.00</span>
                                <div class="pd-price-right-wrap">
                                    <span class="pd-stock">in stock</span>
                                    <span class="pd-sku">SKU:</span><span>634434</span>
                                </div>
                            </div>
                            <div class="meta-select-wrap">
                                <div class="meta-select">
                                    <span class="meta-select-title">select size</span>
                                    <select id="size-select">
                                        <option disabled="disabled" selected="selected">--please select--</option>
                                        <option value="big">big</option>
                                        <option value="medium">medium</option>
                                        <option value="small">small</option>
                                    </select>
                                </div>
                                <div class="meta-select flex-select">
                                    <span class="meta-select-title">select color</span>
                                    <ul id="color-select">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="meta-select">
                                    <span class="meta-select-title">quality</span>
                                    <select id="quality-select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <p class="add-to-cart">
                                        <a href="cart.html">add to cart</a>
                                    </p>
                                </div>
                            </div>
                            <div class="small-button-wrap">
                                <div class="small-button">
                                    <a href="wishlist.html"><i class="icon-heart-empty"></i></a>
                                    <span>add to wishlist</span>
                                </div>
                                <div class="small-button">
                                    <a href="product-details.html"><i class="icon-arrows-ccw"></i></a>
                                    <span>add to compare</span>
                                </div>
                                <div class="small-button">
                                    <a href="product-details.html"><i class="icon-share"></i></a>
                                    <span>share</span>
                                </div>
                            </div>
                        </div> -->
                        <!-- Product Meta: End -->
                        <!-- Product Tab: Begin -->
                        <!-- <div class="product-tab">
                            
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#menu0">specs</a></li>
                                <li><a data-toggle="tab" href="#menu1">reviews</a></li>
                                <li><a data-toggle="tab" href="#menu2">templates</a></li>
                                <li><a data-toggle="tab" href="#menu3">overview</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                <div id="menu0" class="tab-pane fade in active">
                                    <h3>Color</h3>
                                    <h4>4/0 - color front, no back</h4>
                                    <p>To reproduce the spectrum of colors we blend 4 main colors: Cyan, Magenta, Yellow and Black. The printing term "4/0" refers to these four process colors on the front, and no color (blank) on the back. </p>
                                    <h3>paper</h3>
                                    <h4>white vinyl sticker - high gloss</h4>
                                    <p>Vinyl stickers are one of the most powerful marketing tools, because you can reach your customers anywhere, anytime. Vinyl stickers are perfect for promoting your business or website, advertising your new product or
                                        service, or even livening up your shopping bag, takeout boxes or other marketing materials.</p>
                                    <p>Our custom printed vinyl stickers are produced on top-of-the-line printing presses that undergo daily color calibration, ensuring you receive the best possible product at an unbelievable price. We use only the best
                                        vinyl stick paper stock with great adhesion on various surfaces, making our vinyl stickers versatile, durable and useful in any application.</p>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <h3>Color</h3>
                                    <h4>4/0 - color front, no back</h4>
                                    <p>To reproduce the spectrum of colors we blend 4 main colors: Cyan, Magenta, Yellow and Black. The printing term "4/0" refers to these four process colors on the front, and no color (blank) on the back. </p>
                                    <h3>paper</h3>
                                    <h4>white vinyl sticker - high gloss</h4>
                                    <p>Vinyl stickers are one of the most powerful marketing tools, because you can reach your customers anywhere, anytime. Vinyl stickers are perfect for promoting your business or website, advertising your new product or
                                        service, or even livening up your shopping bag, takeout boxes or other marketing materials.</p>
                                    <p>Our custom printed vinyl stickers are produced on top-of-the-line printing presses that undergo daily color calibration, ensuring you receive the best possible product at an unbelievable price. We use only the best
                                        vinyl stick paper stock with great adhesion on various surfaces, making our vinyl stickers versatile, durable and useful in any application.</p>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <h3>Color</h3>
                                    <h4>4/0 - color front, no back</h4>
                                    <p>To reproduce the spectrum of colors we blend 4 main colors: Cyan, Magenta, Yellow and Black. The printing term "4/0" refers to these four process colors on the front, and no color (blank) on the back. </p>
                                    <h3>paper</h3>
                                    <h4>white vinyl sticker - high gloss</h4>
                                    <p>Vinyl stickers are one of the most powerful marketing tools, because you can reach your customers anywhere, anytime. Vinyl stickers are perfect for promoting your business or website, advertising your new product or
                                        service, or even livening up your shopping bag, takeout boxes or other marketing materials.</p>
                                    <p>Our custom printed vinyl stickers are produced on top-of-the-line printing presses that undergo daily color calibration, ensuring you receive the best possible product at an unbelievable price. We use only the best
                                        vinyl stick paper stock with great adhesion on various surfaces, making our vinyl stickers versatile, durable and useful in any application.</p>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <h3>Color</h3>
                                    <h4>4/0 - color front, no back</h4>
                                    <p>To reproduce the spectrum of colors we blend 4 main colors: Cyan, Magenta, Yellow and Black. The printing term "4/0" refers to these four process colors on the front, and no color (blank) on the back. </p>
                                    <h3>paper</h3>
                                    <h4>white vinyl sticker - high gloss</h4>
                                    <p>Vinyl stickers are one of the most powerful marketing tools, because you can reach your customers anywhere, anytime. Vinyl stickers are perfect for promoting your business or website, advertising your new product or
                                        service, or even livening up your shopping bag, takeout boxes or other marketing materials.</p>
                                    <p>Our custom printed vinyl stickers are produced on top-of-the-line printing presses that undergo daily color calibration, ensuring you receive the best possible product at an unbelievable price. We use only the best
                                        vinyl stick paper stock with great adhesion on various surfaces, making our vinyl stickers versatile, durable and useful in any application.</p>
                                </div>
                            </div>
                            
                        </div>
                         -->
                    </div>

                </div>
                
                <div class="product-details-sidebar">
                   
                    <!-- <div class="sidebar-logo clear">
                        <img src="{% static 'assets/img/product-sidebar-logo.png' %}" alt="Sidebar Logo">
                    </div> -->
                    
                    <!-- <ul class="sidebar-policy">
                        <li class="clear">
                            <div class="sidebar-top-icon">
                                <i class="icon-loop"></i>
                            </div>
                            <p><a href="contact.html">We will send this product in 2 days. Read more...</a></p>
                        </li>
                        <li class="clear">
                            <div class="sidebar-top-icon">
                                <i class="icon-phone"></i>
                            </div>
                            <p><a href="contact.html">Call us now for more info about our products.</a></p>
                        </li>
                        <li class="clear">
                            <div class="sidebar-top-icon">
                                <i class="icon-arrows-cw"></i>
                            </div>
                            <p><a href="contact.html">Return purchased items and get all your money back.</a></p>
                        </li>
                        <li class="clear">
                            <div class="sidebar-top-icon">
                                <i class="icon-star"></i>
                            </div>
                            <p><a href="contact.html">Buy this product and earn 10 special loyalty points!</a></p>
                        </li>
                    </ul> -->
                    
                    <!-- <div class="sidebar-social">
                        <span>share:</span>
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-pinterest-circled"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-print"></i></a>
                    </div> -->
                    
                    <!-- <div class="related-products-wrap">
                        <h4>related</h4>
                        <ul class="related-products owl-carousel">
                            <li class="related-products-first">
                                <ul>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-1.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-2.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-3.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"> <img src="{% static 'assets/img/products/sidebar-4.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-5.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="related-products-second">
                                <ul>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-1.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-2.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-3.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"> <img src="{% static 'assets/img/products/sidebar-4.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                    <li class="related-product clear">
                                        <div class="related-thumb">
                                            <a href="product-details.html"><img src="{% static 'assets/img/products/sidebar-5.jpg' %}" alt="Related Product"></a>
                                        </div>
                                        <div class="related-details">
                                            <h5 class="related-title"><a href="product-details.html">paper stock</a></h5>
                                            <p class="related-price">$56.00</p>
                                            <p class="related-excerpt">Brochure direct mailing services available</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                   
                </div>
               
            </div>
        </div>
        <div class="cross-sell-products">
            <div class="container">
                <div class="cross-sell-title">
                    <h3>you may also be interested in the following product(s)</h3>
                </div>
                <ul class="products owl-carousel">
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-1.jpg' %}" alt="Product">
                            <div class="product-action">
                            </div>
                            <!-- <span class="hot-icon">sale!</span> -->
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">White Gold Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <del>$16.98</del>
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-2.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                            <!-- <span class="hot-icon">hot!</span> -->
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">Gemstone Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-3.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">Silver Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-4.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">White Gold Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-3.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">Gemstone Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-4.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">Silver Earrings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
    <!-- Main Category: End -->
    <!-- Footer: Begin -->
    