{% extends "base.html" %}
{% load static %}
{% block content %}
    

    <main class="main category-page">
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">Bangles</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Shop /</span><span>Bangles</span>
                </p>
            </div>
        </div>

        <div class="cross-sell-products">
            <div class="container">
                <div class="cross-sell-title">
                    <h3>you may also be interested in the following product(s)</h3>
                </div>
                <ul class="products owl-carousel">
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/1.jpg' %}" alt="Product">
                            <div class="product-action">
                            </div>
                            <!-- <span class="hot-icon">sale!</span> -->
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/3.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                            <!-- <span class="hot-icon">hot!</span> -->
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/4.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/5.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/6.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/8.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
    <!-- Main Category: End -->
    <!-- Footer: Begin -->
    