{% extends "base.html" %}
{% load static %}
{% block content %}
    

    <main class="main category-page">
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">Diamond Rings</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Shop /</span><span>Diamond Rings</span>
                </p>
            </div>
        </div>

        
        <div class="cross-sell-products">
            <div class="container">
                <div class="cross-sell-title">
                    <h3>you may also be interested in the following product(s)</h3>
                </div>
                <ul class="products owl-carousel">
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_01.jpg' %}" alt="Product">
                            <div class="product-action">
                            </div>
                            <!-- <span class="hot-icon">sale!</span> -->
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_1.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                            <!-- <span class="hot-icon">hot!</span> -->
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_02.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_2.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_03.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_3.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_04.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_4.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_05.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_5.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_06.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_6.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_07.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_7.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_08.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_8.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_09.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/R_9.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_010.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/1.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/diamond_03.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/RS_10.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/3.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/4.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/diamond/6.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>                        
                    </li>
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
    <!-- Main Category: End -->
    <!-- Footer: Begin -->
    