{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Add Product</h4>
                      
                      <form class="forms-sample" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                          <label for="ProductName">Product Category Name</label>
                          <input type="text" class="form-control" id="ProductName" name="category_name" placeholder="Eg:Gold/Diamond/Precious Stone" required>
                        </div>

                        <div class="form-group">
                          <label for="ProductImage">Product Image</label>
                          <input type="file" class="form-control" id="ProductName" name="image" required>
                        </div>

                        <div class="form-group">
                          <label for="ProductDescription">Product Description</label>
                          <input type="text" class="form-control" id="ProductName" name="description" placeholder="Optional">
                        </div>
                        
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <!-- <button class="btn btn-light">Cancel</button> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          
            {% endblock %}