{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

     

  <style>
          .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cards {
            text-align: center;
            font-family: 'PT Sans', sans-serif;
            background: #fff;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 300px;
            margin: 0.8rem;
            width: 310px;
            padding-bottom: 10px;
        }

        .card-1 {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .cards > img {
            margin-top: 35px;
            margin-bottom: 8px;
        }

        .cards > h2 {
            font-family: 'PT Sans', sans-serif;
        }

        .cards > p {
            font-family: 'PT Sans', sans-serif;
            padding-left: 2.2rem;
            padding-right: 2.2rem;
        }

        .btns {
            background: #172d46;
            border: 0;
            border-radius: .375em;
            color: #fff;
            cursor: pointer;
            margin: .25em;
            padding: 0.75em 1.4em;
            font-size: 0.8em;
            transition: all .125s ease-in-out;
        }

        .btns:hover,
        .btns:focus {
            box-shadow: 0 .625em 1.25em 0 rgba(23, 45, 70, .3);
        }

        .btns:active {
            box-shadow: 0 .125em .25em 0 rgba(23, 45, 70, .3);
        }

        .btns--large {
            font-size: 1.25em;
        }
        .cards >.icon {
          color:#c0c0c0;
          margin-top: 35px;
          margin-bottom: 8px;
        }
</style>

<div class="cards-container">
  <div class="cards card-1">
    
    <div class="icon"> <i class="fa fa-star fa-3x"></i></div>
    <h2>Gold Rate</h2>
    <p>Click here to view & view and add gold rate of the day.</p>
    <button class="btns" onclick="window.location.href='/view_gold_rate'">View & Add Gold Rate</button>
  </div>
  
  <div class="cards card-1">
    
    <div class="icon"> <i class="fa fa-shopping-basket fa-3x"></i></div>
    <h2>Products By Category</h2>
    <p>Click here to view & manage your products section.</p>
    <button class="btns" onclick="window.location.href='admin_view_product_details'">View & Add Products</button>
  </div>
  
  
  
  <div class="cards card-1">
    
    <div class="icon"> <i class="fa fa-shopping-bag fa-3x"></i></div>
    
    <h2>Featured Products</h2>
    <p>Click here to view your featured products</p>
    <button class="btns" onclick="window.location.href='/view_featured_details'">View & Add Featured Productsr</button>
  </div>
  
  <div class="cards card-1">
    
    <div class="icon"> <i class="fa fa-pencil fa-3x"></i></div>
    <h2>Job Details</h2>
    <p>Click here to view and securely upload Job Details</p>
    <button class="btns" onclick="window.location.href='view_job_details'">View & Add Job Details</button>
  </div>

  <div class="cards card-1">
    <div class="icon"> <i class="fa fa-video-camera fa-3x"></i></div>
    <h2>Customers Review</h2>
    <p>Click here to add Customers Review.</p>
    <button class="btns" onclick="window.location.href='view_client_reviews'">View & Add Customers Review</button>
  </div>

  <div class="cards card-1">
    <div class="icon"> <i class="fa fa-id-card fa-3x"></i></div>
    <h2>View Job Applications</h2>
    <p>Click here to view job applications.</p>
    <button class="btns" onclick="window.location.href='view_job_application'">View & Download Job Applications</button>
  </div>
  

</div>

  {% endblock %}