{% extends "admin_pages/base.html" %}
{% load static %}
{% block content %}

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Project Category Name</h4>
                      <!-- <p class="card-description">
                        Basic form layout
                      </p> -->
                      <form class="forms-sample" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                          <label for="CategoryName">Product Category Name</label>
                          <input type="text" class="form-control" id="CategoryName" name="category_name" placeholder="Category Name" value="{{product.category_name}}">
                        </div>

                        <div class="form-group">
                          <label>Current Product Image</label><br>
                          {% if product.image %}
                              <img src="{{ product.image.url }}" alt="Current Image" style="width: 150px; height: 150px;">
                              <br>
                          {% else %}
                              <p>No image available</p>
                          {% endif %}
                      </div>
                      <!-- New Client Image -->
                      <div class="form-group">
                          <label for="imageFile">Upload New Image</label><br>
                          <input type="file" class="form-control-file" id="imageFile" name="image" accept="image/*">
                      </div>

                        <div class="form-group">
                          <label for="CategoryName">Product Description</label>
                          <input type="text" class="form-control" id="CategoryName" name="description" placeholder="Category Name" value="{{product.description}}">
                        </div>
                    
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <!-- <button class="btn btn-light">Cancel</button> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

          
{% endblock %}