{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--Header: End-->
    <!-- Main Page: Begin -->
    <main>
        <!-- Breadcrumb: Begin -->
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">contact</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Contact</span>
                </p>
            </div>
        </div>
        <!-- Breadcrumb: End -->
        <div class="container">
            <h1>Contact us</h1>
        </div>
        
        <div class="google-map-wrap">
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&language=en'></script>
            <div style='overflow:hidden;height:440px;width:100%;'>
                <div id='gmap_canvas' style='height:440px;'></div>
            </div>
            <script type='text/javascript'>
                function init_map() {
                    var myOptions = {
                        zoom: 16,
                        center: new google.maps.LatLng(8.4812459, 76.9466373),
                        mapTypeId: google.maps.MapTypeId.TERRAIN,
                        scrollwheel: false
                    };
                    var map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(8.4812459, 76.9466373)
                    });
                    var infowindow = new google.maps.InfoWindow({
                        content: 'Alapatt Fashion Jewellery'
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map, marker);
                    });
                    infowindow.open(map, marker);
                }
                google.maps.event.addDomListener(window, 'load', init_map);
            </script>
        </div>
        <br><br><br>
        <!-- Google Map: End -->
        <div class="container">
            <div class="row">
                <div class="contact-details-wrap">
                    
                </div>
                <div class="contact-form-wrap">
                    <form method="post">{% csrf_token %}
                        
                        <div class="contact-right">
                            <div class="form-group msg_name">
                                <input type="text" name="name" id="msg_name" placeholder="Enter Your Name *" class="form-control" required>
                            </div>
                            <div class="form-group msg_email">
                                <input type="email" name="email" id="msg_email" placeholder="Enter Email *" class="form-control" required>
                            </div>
                            <div class="form-group msg_phone">
                                <input type="text" name="phone" id="msg_phone" placeholder="Enter Phone Number *" class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="subject" id="msg_subject" placeholder="Enter Message Subject" class="form-control">
                            </div>
                            <div class="contact-left form-group msg_message">
                                <p>
                                    <textarea name="comment" id="msg_message" cols="30" rows="12" placeholder="Message *" class="form-control"></textarea>
                                </p>
                                
                            </div>
                            <button type="submit" >Submit</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        
    </main>
    <br><br>
    <!-- Main Page: End -->
    <!-- Footer: Begin -->
    {% endblock %}