<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jewelry - FAQ Page</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta name="description" content="Jewelry HTML Template">
    <meta name="author" content="Netbase">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body class="faq-page">
    <!--Header: Begin-->
    <header class="container-fluid clear">
        <div class="row">
            <!--Header Top: Begin-->
            <div id="header-top" class="clear">
                <!--Header Logo: Begin-->
                <div id="header-logo" class="col-sm-push-4 col-md-push-4 col-lg-push-5">
                    <a href="index.html"><img src="assets/img/main-logo.png" alt="main logo"></a>
                    <h1 class="hidden-heading">Jewelry</h1>
                </div>
                <!--Header Logo: End-->
                <!--Main Navigation: Begin-->
                <nav id="main-menu" class="col-sm-pull-4  col-md-pull-4 col-lg-pull-2">
                    <ul>
                        <li>
                            <span><a href="index.html">home</a></span>
                        </li>
                        <li class="has-sub dropdown-mega">
                            <span><a href="category-grid.html">rings</a></span>
                            <div class="mega sub-menu">
                                <h3 class="mega-title">Discover our lastest products</h3>
                                <div class="small-col">
                                    <h4 class="col-title">Lorem ipsum dolor</h4>
                                    <img src="assets/img/menu-adv1.jpg" alt="">
                                </div>
                                <div class="small-col">
                                    <ul>
                                        <li><a href="product-details.html">gold rings</a></li>
                                        <li><a href="product-details.html">diamond rings</a></li>
                                        <li><a href="product-details.html">silver rings</a></li>
                                        <li><a href="product-details.html">gemstone rings</a></li>
                                    </ul>
                                </div>
                                <div class="small-col">
                                    <div class="mega-product">
                                        <a href="product-details.html"><img src="assets/img/products/cross-3.jpg" alt=""></a>
                                        <h4 class="mg-pd-title"><a href="product-details.html">white ring new</a></h4>
                                        <p class="mg-pd-price">
                                            <del>$18.00</del>
                                            <span>$12.54</span>
                                        </p>
                                        <p class="mg-pd-des">
                                            Lightning-fast turnaround times, including one-day ...
                                        </p>
                                    </div>
                                </div>
                                <div class="small-col">
                                    <h4 class="col-title">donec ac tempuc</h4>
                                    <img src="assets/img/menu-adv2.jpg" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                </div>
                                <div class="full-col">
                                    <img src="assets/img/mega-menu-1.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="has-sub">
                            <span><a href="category-grid.html">pages</a></span>
                            <ul class="sub-menu double-column">
                                <li>
                                    <h4>lorem ipsum dolor</h4>
                                    <ul>
                                        <li><a href="category-grid.html">category grid</a></li>
                                        <li><a href="category-list.html">category list</a></li>
                                        <li><a href="product-details.html">product details</a></li>
                                        <li><a href="cart.html">cart page</a></li>
                                        <li><a href="checkout.html">checkout page</a></li>
                                        <li><a href="contact.html">contact page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>lorem ipsum dolor</h4>
                                    <ul>
                                        <li><a href="wishlist.html">wishlist page</a></li>
                                        <li><a href="account.html">account page</a></li>
                                        <li><a href="login.html">login page</a></li>
                                        <li><a href="register.html">register page</a></li>
                                        <li><a href="faq.html">faq page</a></li>
                                        <li><a href="404.html">404 page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <span><a href="blog-category.html">blog</a></span>
                            <ul class="sub-menu single-column">
                                <li>
                                    <h4>lorem ipsum dolor</h4>
                                    <ul>
                                        <li><a href="blog-category.html">blog right sidebar</a></li>
                                        <li><a href="blog-leftsidebar.html">blog left sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span><a href="contact.html">contact</a></span>
                        </li>
                    </ul>
                    <span class="mbmenu-icon">
                        <i class="icon-menu-1"></i>
                    </span>
                    <div id="mb-main-menu" class="main-menu">
                        <div class="mb-menu-title">
                            <h3>Navigation</h3>
                            <span id="close-mb-menu">
                                <i class="icon-cancel-circled"></i>
                            </span>
                        </div>
                        <ul class="sub-cate-list">
                            <li class="level0">
                                <a href="index.html">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="level0 parent">
                                <a href="#">
                                    <span>Rings</span>
                                    <i class="icon-down-open"></i><i class="icon-right-open"></i>
                                </a>
                                <ul class="level0">
                                    <li class="level1">
                                        <a href="product-details.html" title="Gold Rings">Gold Rings</a>
                                    </li>
                                    <li class="level1">
                                        <a href="product-details.html" title="White Gold Rings">Diamond Rings</a>
                                    </li>
                                    <li class="level1">
                                        <a href="product-details.html" title="Gemstone Rings">Silver Rings</a>
                                    </li>
                                    <li class="level1">
                                        <a href="product-details.html" title="Silver Rings">Gemstone Rings</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="#">
                                    <span>Pages</span>
                                    <i class="icon-down-open"></i><i class="icon-right-open"></i>
                                </a>
                                <ul class="level0">
                                    <li class="level1">
                                        <a href="category-grid.html" title="Gold Rings">Category Grid</a>
                                    </li>
                                    <li class="level1">
                                        <a href="category-list.html" title="White Gold Rings">Category List</a>
                                    </li>
                                    <li class="level1">
                                        <a href="product-details.html" title="Gemstone Rings">Product details</a>
                                    </li>
                                    <li class="level1">
                                        <a href="cart.html" title="Silver Rings">Cart Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="checkout.html" title="Silver Rings">Checkout Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="contact.html" title="Silver Rings">Contact Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="wishlist.html" title="Silver Rings">Wishlist Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="account.html" title="Silver Rings">Account Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="login.html" title="Silver Rings">Login Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="register.html" title="Silver Rings">Register Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="faq.html" title="Silver Rings">Faq Page</a>
                                    </li>
                                    <li class="level1">
                                        <a href="404.html" title="Silver Rings">404 Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="#">
                                    <span>Blog</span>
                                    <i class="icon-down-open"></i><i class="icon-right-open"></i>
                                </a>
                                <ul class="level0">
                                    <li class="level1">
                                        <a href="blog-category.html" title="Gold Rings">Blog Right Sidebar</a>
                                    </li>
                                    <li class="level1">
                                        <a href="blog-leftsidebar.html" title="White Gold Rings">Blog Left Sidebar</a>
                                    </li>
                                    <li class="level1">
                                        <a href="blog-details.html" title="Gemstone Rings">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="product-details.html" title="Gemstone Rings">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--Main Navigation: End-->
                <!--Search and Cart: Begin-->
                <div class="header-right-wrap">
                    <div class="header-right">
                        <div class="search-input">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
                                 </span>
                            </div>
                        </div>
                        <div class="header-cart">
                            <a href="cart.html">
                                <i class="icon-shop"></i>
                                <span>2</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Search and Cart: Begin-->
            </div>
            <!--Header Top: End-->
        </div>
    </header>
    <!--Header: End-->
    <!-- Main Page: Begin -->
    <main>
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">FAQ</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>FAQ</span>
                </p>
            </div>
        </div>
        <!-- Faq Section: Begin -->
        <div class="container">
            <div class="row">
                <div class="top-banner clear">
                    <img src="assets/img/blog-cat-banner.jpg" alt="Blog banner">
                    <h1>faq</h1>
                </div>
                <section id="faq" class="pr-main">
                    <h2 class="ct-header">you find the answer here!</h2>
                    <div id="CMStab">
                        <h3> What do I need to run your themes?</h3>
                        <div class="accordion">
                            <p> You need to have WordPress installed on your server, and make sure you use the latest version of WordPress.</p>
                        </div>
                        <h3>  What payment options do you offer to buy your themes?</h3>
                        <div class="accordion">
                            <p> You need to have WordPress installed on your server, and make sure you use the latest version of WordPress.</p>
                        </div>
                        <h3> When can I get a hold of the theme files after I purchased your theme?</h3>
                        <div class="accordion">
                            <p> You need to have WordPress installed on your server, and make sure you use the latest version of WordPress.</p>
                        </div>
                        <h3> I have made payment for your theme but I still can’t see a link to download the theme in the “Orders” menu</h3>
                        <div class="accordion">
                            <p> You need to have WordPress installed on your server, and make sure you use the latest version of WordPress.</p>
                        </div>
                        <h3> Do you provide support for all the themes you sell?</h3>
                        <div class="accordion">
                            <p> You need to have WordPress installed on your server, and make sure you use the latest version of WordPress.</p>
                        </div>
                        <h3>Are all of your themes support all version of WordPress?</h3>
                        <div class="accordion">
                            <p> You need to have WordPress installed on your server, and make sure you use the latest version of WordPress.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Faq Section: End -->
    </main>
    <!-- Main Page: End -->
    <!-- Footer: Begin -->
    <footer>
        <!-- Footer Top: Begin -->
        <div class="footer-top">
            <section class="container">
                <div class="row">
                    <!-- Footer Columns: Begin -->
                    <div class="footer-columns clear">
                        <!-- Footer Column 1: Begin -->
                        <div class="footer-column" id="footer-column-1">
                            <h4 class="footer-logo">
                                <img src="assets/img/main-logo.png" alt="elegan shop">
                            </h4>
                            <div class="footer-acordion-wrap">
                                <p class="footer-slogan">The Elegan pays tribute to the tradition of fine jewelry in its most timeless form.</p>
                                <div class="footer-contacts">
                                    <div class="footer-contact clear">
                                        <i class="icon icon-location"></i>
                                        <p class="location-details">257 Charlington Gates Road Morrison, Nr. 568</p>
                                    </div>
                                    <div class="footer-contact clear">
                                        <i class="icon icon-phone"></i>
                                        <p class="location-details">0-800-12-345-6 880</p>
                                    </div>
                                    <div class="footer-contact clear">
                                        <i class="icon icon-email"></i>
                                        <p class="location-details">info@netbaseteam.com</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Footer Column 1: End -->
                        <!-- Footer Column 2: Begin -->
                        <div class="footer-column" id="footer-column-2">
                            <h4 class="column-title">lastest post</h4>
                            <div class="footer-acordion-wrap">
                                <div class="footer-post clear">
                                    <div class="footer-post-thumb">
                                        <a href="blog-details.html"><img src="assets/img/footer-post-1.jpg" alt="Footer post"></a>
                                    </div>
                                    <div class="footer-post-details">
                                        <h4 class="footer-post-title"><a href="blog-details.html">Ring diamond</a></h4>
                                        <p class="footer-post-description">Whether the flitting attendanc of the one still and...</p>
                                    </div>
                                </div>
                                <div class="footer-post clear">
                                    <div class="footer-post-thumb">
                                        <a href="blog-details.html"><img src="assets/img/footer-post-2.jpg" alt="Footer post"></a>
                                    </div>
                                    <div class="footer-post-details">
                                        <h4 class="footer-post-title"><a href="blog-details.html">Ring Gold</a></h4>
                                        <p class="footer-post-description">Whether the flitting attendanc of the one still and...</p>
                                    </div>
                                </div>
                                <div class="footer-post clear">
                                    <div class="footer-post-thumb">
                                        <a href="blog-details.html"><img src="assets/img/footer-post-3.jpg" alt="Footer post"></a>
                                    </div>
                                    <div class="footer-post-details">
                                        <h4 class="footer-post-title"><a href="blog-details.html">Earring blue</a></h4>
                                        <p class="footer-post-description">Whether the flitting attendanc of the one still and...</p>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <!-- Footer Column 2: End -->
                        <!-- Footer Column 3: Begin -->
                        <div class="footer-column" id="footer-column-3">
                            <h4 class="column-title">opening times</h4>
                            <div class="footer-acordion-wrap">
                                <p>
                                    <span class="date">Monday</span>
                                    <span class="time">1pm - 10pm</span>
                                </p>
                                <p>
                                    <span class="date">Tuesday</span>
                                    <span class="time">1pm - 10pm</span>
                                </p>
                                <p>
                                    <span class="date">Wednesday</span>
                                    <span class="time">1pm - Midnight</span>
                                </p>
                                <p>
                                    <span class="date">Thursday</span>
                                    <span class="time">1pm - 10pm</span>
                                </p>
                                <p>
                                    <span class="date">Friday</span>
                                    <span class="time">1pm - Midnight</span>
                                </p>
                                <p>
                                    <span class="date">Saturday</span>
                                    <span class="time">Closed</span>
                                </p>
                                <p>
                                    <span class="date">Sunday</span>
                                    <span class="time">1pm - 10pm</span>
                                </p>
                            </div>
                            
                        </div>
                        <!-- Footer Column 3: End -->
                        <!-- Footer Column 4: Begin -->
                        <div class="footer-column" id="footer-column-4">
                            <h4 class="column-title">flickr photos</h4>
                            <div class="footer-acordion-wrap">
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-1.jpg">
                                        <img src="assets/img/flickr/flickr-1.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-2.jpg">
                                        <img src="assets/img/flickr/flickr-2.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-3.jpg">
                                        <img src="assets/img/flickr/flickr-3.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-4.jpg">
                                        <img src="assets/img/flickr/flickr-4.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-4.jpg">
                                        <img src="assets/img/flickr/flickr-4.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-5.jpg">
                                        <img src="assets/img/flickr/flickr-5.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-7.jpg">
                                        <img src="assets/img/flickr/flickr-7.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-8.jpg">
                                        <img src="assets/img/flickr/flickr-8.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-1.jpg">
                                        <img src="assets/img/flickr/flickr-1.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-2.jpg">
                                        <img src="assets/img/flickr/flickr-2.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-3.jpg">
                                        <img src="assets/img/flickr/flickr-3.jpg" alt="flickr">
                                    </a>
                                </div>
                                <div class="footer-flickr">
                                    <a class="fancybox" href="assets/img/flickr/flickr-4.jpg">
                                        <img src="assets/img/flickr/flickr-4.jpg" alt="flickr">
                                    </a>
                                </div>
                            </div>                            
                        </div>
                        <!-- Footer Column 4: End -->
                    </div>
                    <!-- Footer Columns: End -->
                    <!-- Footer Social Connect: Begin -->
                    <div class="footer-social">
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-gplus"></i></a>
                        <a href="#"><i class="icon-linkedin-rect"></i></a>
                        <a href="#"><i class="icon-pinterest-squared"></i></a>
                    </div>

                    <!-- Footer Social Connect: End -->
                </div>
            </section>
        </div>
        <!-- Footer Top: End -->
        <!-- Footer bottom: Begin -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="footer-copyright">
                        <span>Central - Copyright &copy; 2016</span>
                        <a href="http://netbaseteam.com"><span class="footer-bottom-color">Netbaseteam.com.</span></a>
                        <span>All Rights Reserved.</span>
                    </div>
                    <div class="footer-payment-method">
                        <img src="assets/img/footer-payment.png" alt="Payment">
                    </div>
                </div>
            </div>
            <a href="#" id="back-to-top">
                <i class="icon-up-open"></i> Top
            </a>
        </div>
        <!-- Footer bottom: End -->
    </footer>
    <!-- Footer: End -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/modernizr.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/stacktable.min.js"></script>
    <script src="assets/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/js/jquery.themepunch.plugins.min.js"></script>
    <script src="assets/js/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript"></script>
    <script src="assets/js/scripts.min.js"></script>
</body>

</html>