{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--Header: End-->
    <!-- Main Category: Begin -->
    <main class="main category-page">
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">White Gold Ring</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Shop /</span><span>White Gold Ring</span>
                </p>
            </div>
        </div>
        
        <!-- <div class="cross-sell-products">
            <div class="container">
                <div class="cross-sell-title">
                    <h3>you may also be interested in the following product(s)</h3>
                </div>
                <ul class="products owl-carousel">
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-1.jpg' %}" alt="Product">
                            <div class="product-action">
                                <span class="button-wrap">
                                    <a href="cart.html"><i class="icon-basket"></i></a>
                                    <span class="tooltip">Add To Cart</span>
                                </span>
                                <span class="button-wrap">
                                    <a href="wishlist.html"><i class="icon-heart-empty"></i></a>
                                    <span class="tooltip">Wishlist</span>
                                </span>
                                <span class="button-wrap">
                                    <a href="product-details.html"><i class="icon-arrows-ccw"></i></a>
                                    <span class="tooltip">Compare</span>
                                </span>
                                <span class="button-wrap">
                                    <a href="product-details.html"><i class="icon-eye"></i></a>
                                    <span class="tooltip">Quickview</span>
                                </span>
                            </div>
                            <span class="hot-icon">sale!</span>
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">White Gold Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <del>$16.98</del>
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/products/cross-2.jpg' %}" alt="Product">
                            <div class="product-action">
                                <span class="button-wrap">
                                    <a href="cart.html"><i class="icon-basket"></i></a>
                                    <span class="tooltip">Add To Cart</span>
                                </span>
                                <span class="button-wrap">
                                    <a href="wishlist.html"><i class="icon-heart-empty"></i></a>
                                    <span class="tooltip">Wishlist</span>
                                </span>
                                <span class="button-wrap">
                                    <a href="product-details.html"><i class="icon-arrows-ccw"></i></a>
                                    <span class="tooltip">Compare</span>
                                </span>
                                <span class="button-wrap">
                                    <a href="product-details.html"><i class="icon-eye"></i></a>
                                    <span class="tooltip">Quickview</span>
                                </span>
                            </div>
                            <span class="hot-icon">hot!</span>
                        </div>
                        <div class="product-details">
                            <h3 class="product-title"><a href="product-details.html">Gemstone Rings</a></h3>
                            <p class="product-rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-half-alt"></i>
                                <i class="icon-star-empty"></i>
                            </p>
                            <p class="product-price">
                                <span>$12.99</span>
                            </p>
                        </div>
                    </li>
                   
                    
                </ul>
            </div> -->
            <!-- <div class="cross-sell-products">
                <div class="container">
                    <div class="cross-sell-title">
                        <h3>You may also be interested in the following product(s)</h3>
                    </div>
                    <ul class="products owl-carousel">
                        {% for product in products %}
                            <li class="product">
                                <div class="product-thumb">
                                    <img src="{{ product.product_image.url }}" alt="Product">
                                    <div class="product-action">
                                        <span class="button-wrap">
                                            <a href="#"><i class="icon-basket"></i></a>
                                            <span class="tooltip">Add To Cart</span>
                                        </span>
                                        <span class="button-wrap">
                                            <a href="#"><i class="icon-heart-empty"></i></a>
                                            <span class="tooltip">Wishlist</span>
                                        </span>
                                        <span class="button-wrap">
                                            <a href="#"><i class="icon-arrows-ccw"></i></a>
                                            <span class="tooltip">Compare</span>
                                        </span>
                                        <span class="button-wrap">
                                            <a href="#"><i class="icon-eye"></i></a>
                                            <span class="tooltip">Quickview</span>
                                        </span>
                                    </div>
                                    {% if product.status %}
                                        <span class="hot-icon">sale!</span>
                                    {% else %}
                                        <span class="hot-icon">hot!</span>
                                    {% endif %}
                                </div>
                                <div class="product-details">
                                    <h3 class="product-title"><a href="#">{{ product.name }}</a></h3>
                                    <p class="product-rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-half-alt"></i>
                                        <i class="icon-star-empty"></i>
                                    </p>
                                    <p class="product-price">
                                        <span>${{ product.product_price }}</span>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div> -->
            <div class="cross-sell-products">
                <div class="container">
                    <div class="cross-sell-title">
                        <h3>Products in {{ category.name }}{% if subcategory %} - {{ subcategory.product_name }}{% endif %}</h3>
                    </div>
                    <ul class="products owl-carousel">
                        {% for product in products %}
                            <li class="product">
                                <div class="product-thumb">
                                    <img src="{{ product.product_image.url }}" alt="{{ product.name }}">
                                    
                                    {% if product.status %}
                                        <span class="hot-icon">sale!</span>
                                    {% else %}
                                        <span class="hot-icon">hot!</span>
                                    {% endif %}
                                </div>
                                <div class="product-details">
                                    <h3 class="product-title"><a href="">{{ product.name }}</a></h3>
                                    <p class="product-rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-half-alt"></i>
                                        <i class="icon-star-empty"></i>
                                    </p>
                                    <!-- <p class="product-price">
                                        <del>₹{{ product.product_price|floatformat:2 }}</del>
                                        <span>₹{{ product.product_price|floatformat:2 }}</span>
                                    </p> -->
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </main>
    <!-- Main Category: End -->
    <!-- Footer: Begin -->
    <script>
        function toggleSubcategories(id) {
            var element = document.getElementById(id);
            if (element.style.display === "none") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
    </script>
    {% endblock %}