{% extends "base.html" %}
{% load static %}
{% block content %}
    

    <main class="main category-page">
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">Anklet</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Shop /</span><span>Anklet</span>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                <div class="product-details-wrap">
                    <div class="row">
                        
                        
                    </div>

                </div>    
                <div class="product-details-sidebar">
                </div>
               
            </div>
        </div>
        <div class="cross-sell-products">
            <div class="container">
                <div class="cross-sell-title">
                    <h3>you may also be interested in the following product(s)</h3>
                </div>
                <ul class="products owl-carousel">
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/anklet-gd.jpg' %}" alt="Product">
                            <div class="product-action">
                            </div>
                            <!-- <span class="hot-icon">sale!</span> -->
                        </div>
                        
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
    <!-- Main Category: End -->
    <!-- Footer: Begin -->
    