{% extends "base.html" %}
{% load static %}
{% block content %}
    

    <main class="main category-page">
        <div class="breadcrumb-wrap clear">
            <div class="container">
                <h2 class="page-title">Earrings</h2>
                <p class="breadcrumb">
                    <span>You are here:</span><span>Home /</span><span>Shop /</span><span>Earrings</span>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                <div class="product-details-wrap">
                    <div class="row">
                        
                        
                    </div>

                </div>    
                <div class="product-details-sidebar">
                </div>
               
            </div>
        </div>
        <div class="cross-sell-products">
            <div class="container">
                <div class="cross-sell-title">
                    <h3>you may also be interested in the following product(s)</h3>
                </div>
                <ul class="products owl-carousel">
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_4.jpg' %}" alt="Product">
                            <div class="product-action">
                            </div>
                            <!-- <span class="hot-icon">sale!</span> -->
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_5.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                            <!-- <span class="hot-icon">hot!</span> -->
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_6.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_7.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_8.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_9.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_10.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_12.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_13.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_14.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_15.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_4.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_16.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_17.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_18.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_19.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_20.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>

                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_21.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_22.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_23.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_24.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_25.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_26.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_27.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_28.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_29.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_30.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_31.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_32.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_33.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_34.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_35.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_36.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_37.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_38.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>
                    <li class="product">
                        <div class="product-thumb">
                            <img src="{% static 'assets/img/gold/BER_39.jpg' %}" alt="Product">
                            <div class="product-action">
                                
                            </div>
                        </div>
                        
                    </li>

                    
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
    <!-- Main Category: End -->
    <!-- Footer: Begin -->
    